* {
  font-family: "Poppins", sans-serif;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.blank-div-social-media {
  padding: 100px 0 0 0;
}
@media (max-width: 1024px) {
  .blank-div-social-media {
    padding: 0;
  }
}

.press-stm-section-main {
  background: linear-gradient(180deg, #E3FDF5 0%, #FFE6FA 100%);
  padding: 80px 0;
  margin: 0 0 80px 0;
}
.press-stm-section-main .container-press {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.press-stm-section-main .container-press .press-title-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 60px 0;
}
.press-stm-section-main .container-press .press-title-main h1 {
  padding: 0 0 10px 0;
  border-bottom: 4px solid #FF0A0F;
  font-size: 34px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #282828;
}
.press-stm-section-main .container-press .press-card-div-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}
@media (max-width: 1024px) {
  .press-stm-section-main .container-press .press-card-div-main {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (max-width: 1200px) {
  .press-stm-section-main .container-press .press-card-div-main {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (max-width: 500px) {
  .press-stm-section-main .container-press .press-card-div-main {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
.press-stm-section-main .container-press .press-card-div-main .press-card-div-box-one img {
  width: 100%;
  margin: 0 0 20px 0;
}
.press-stm-section-main .container-press .press-card-div-main .press-card-div-box-one h2 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #000;
  margin: 0 0 6px 0;
}
.press-stm-section-main .container-press .press-card-div-main .press-card-div-box-one p {
  font-size: 12px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #484848;
  margin: 0 0 12px 0;
  max-width: 351px;
  line-height: 20px;
  transition: 0.5s ease-in-out;
}
.press-stm-section-main .container-press .press-card-div-main .press-card-div-box-one p .pera-active-more {
  transition: 0.5s ease-in-out;
}
.press-stm-section-main .container-press .press-card-div-main .press-card-div-box-one button {
  border: none;
  background: transparent;
  text-decoration: none;
  font-size: 14px;
  margin: 0;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #ef404a;
  transition: 0.5s ease-in-out;
}

.client-review-slider-main-background {
  padding: 80px 0;
  background: linear-gradient(297.24deg, #C2E9FB 8.25%, #A1C4FD 91.76%);
}
.client-review-slider-main-background .conatiner-review {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}
.client-review-slider-main-background .conatiner-review .client-review-title-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 60px 0;
}
.client-review-slider-main-background .conatiner-review .client-review-title-main h1 {
  color: #282828;
  font-size: 34px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  padding: 0 0 10px 0;
  border-bottom: 4px solid #FF0A0F;
}
.client-review-slider-main-background .conatiner-review .slider-container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
.client-review-slider-main-background .conatiner-review .slick-arrow {
  display: none !important;
}
.client-review-slider-main-background .conatiner-review .slick-track {
  display: flex !important;
  align-items: center;
  gap: 60px;
  overflow-x: hidden;
  margin: 0 0 60px 0;
  width: 100%;
  cursor: pointer !important;
}
@media (max-width: 1024px) {
  .client-review-slider-main-background .conatiner-review .slick-track {
    gap: 20px;
  }
}
@media (max-width: 576px) {
  .client-review-slider-main-background .conatiner-review .slick-track {
    gap: 20px;
  }
}
.client-review-slider-main-background .conatiner-review .slick-track .slider-box-one {
  background-color: #FFFFFF;
  border-radius: 12px;
  padding: 24px;
  width: auto !important;
  min-width: 300px;
  height: 249px;
}
@media (max-width: 400px) {
  .client-review-slider-main-background .conatiner-review .slick-track .slider-box-one {
    min-width: 300px;
  }
}
.client-review-slider-main-background .conatiner-review .slick-track .slider-box-one h2 {
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #ef404a;
}
.client-review-slider-main-background .conatiner-review .slick-track .slider-box-one p {
  max-width: 300px;
  font-size: 12px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 0 0 12px 0;
  left: 18px;
}
.client-review-slider-main-background .conatiner-review .slick-track .slider-box-one .person-image-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 5px 0;
}
.client-review-slider-main-background .conatiner-review .slick-track .slider-box-one .person-image-main img {
  width: 30px;
  height: 30px;
}
.client-review-slider-main-background .conatiner-review .slick-track .slider-box-one h3 {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #282828;
}
.client-review-slider-main-background .conatiner-review slick-slide {
  width: auto !important;
}
.client-review-slider-main-background .conatiner-review .slick-dots {
  display: flex !important;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.client-review-slider-main-background .conatiner-review .slick-dots li {
  width: 10px !important;
  height: 10px !important;
  color: transparent !important;
  transition: 0.5s ease-in-out;
}
.client-review-slider-main-background .conatiner-review .slick-dots li button {
  width: 10px !important;
  height: 10px !important;
  color: transparent !important;
  background-color: #FFFFFF !important;
  border-radius: 50% !important;
  margin: 0 !important;
  transition: 0.5s ease-in-out;
}
.client-review-slider-main-background .conatiner-review .slick-dots li button:before {
  width: 10px !important;
  height: 10px !important;
  color: transparent !important;
  top: 0 !important;
  transition: 0.5s ease-in-out;
}
.client-review-slider-main-background .conatiner-review .slick-dots li.slick-active {
  transition: 0.5s ease-in-out;
}
.client-review-slider-main-background .conatiner-review .slick-dots li.slick-active button {
  width: 10px !important;
  height: 10px !important;
  background-color: transparent !important;
  border: none !important;
  border-radius: 50% !important;
  cursor: pointer !important;
  content: "" !important;
  top: 0 !important;
}
.client-review-slider-main-background .conatiner-review .slick-dots li.slick-active button:before {
  transition: 0.5s ease-in-out;
  top: 0 !important;
  left: -10px !important;
  width: 30px !important;
  height: 10px !important;
  background-color: #ef404a !important;
  border: none !important;
  border-radius: 10px !important;
  cursor: pointer !important;
  content: "" !important;
}/*# sourceMappingURL=socialmedia.css.map */