* {
  font-family: "Poppins", sans-serif;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

header {
  display: block;
  position: static;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}
@media (max-width: 1024px) {
  header {
    display: none;
  }
}
@media (max-width: 576px) {
  header {
    display: none;
  }
}
header .header-main {
  position: absolute;
  z-index: 9;
  top: 0;
  width: 100%;
  padding-top: 25px;
}
@media (max-width: 576px) {
  header .header-main {
    padding-top: 18px;
  }
}
header .header-main.scrolled {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
header .header-main .header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
header .header-main .header-container .header-contant {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-main .header-container .header-contant .header-contant-logo {
  cursor: pointer;
}
header .header-main .header-container .header-contant .header-contant-menu {
  display: flex;
  align-items: center;
  gap: 41px;
}
@media (max-width: 1024px) {
  header .header-main .header-container .header-contant .header-contant-menu {
    display: none;
  }
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer {
  display: flex;
  align-items: start;
  gap: 7px;
  color: #282828;
  transition: color 0.5s ease-in-out;
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer:hover {
  transition: color 0.5s ease-in-out;
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer:hover p {
  transition: color 0.5s ease-in-out;
  color: #EF404A;
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer:hover span {
  transition: color 0.5s ease-in-out;
  color: #EF404A;
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer:hover a {
  transition: color 0.5s ease-in-out;
  color: #EF404A;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer p {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer #dropdown-id-main-home {
  position: relative;
  overflow: visible;
  transition: 0.5s ease-in-out;
  display: flex;
  align-items: start;
  gap: 7px;
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer #dropdown-id-main-home a {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #282828;
  font-weight: 500;
  line-height: 19.5px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  padding: 0px;
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer #dropdown-id-main-home span {
  margin: 1px 0 0 0;
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer #dropdown-id-main-home:hover {
  transition: color 0.5s ease-in-out;
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer #dropdown-id-main-home:hover span {
  transition: color 0.5s ease-in-out;
  color: #EF404A;
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer #dropdown-id-main-home:hover a {
  transition: color 0.5s ease-in-out;
  color: #EF404A;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer #dropdown-id-main-home:hover {
  transition: 0.5s ease-in-out;
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer #dropdown-id-main-home:hover .drop-down-box-main {
  cursor: default;
  display: block;
  position: absolute;
  top: 22px;
  left: -25%;
  transform: translateX(-25%);
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer #dropdown-id-main-home:hover .drop-down-box-main .drop-down-contant-box {
  border-radius: 12px;
  margin: 20px 0 0 0;
  max-height: 100%;
  width: 300px;
  border-radius: 12px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer #dropdown-id-main-home:hover .drop-down-box-main .drop-down-contant-box .dropdown-contant-inner-box-one {
  animation-delay: 0.3s;
  border-radius: 12px;
  transition: 0.5s ease-in-out;
  text-align: center;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer #dropdown-id-main-home:hover .drop-down-box-main .drop-down-contant-box .dropdown-contant-inner-box-one .dropdown-contant-text {
  background: #FFF;
  color: #000;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: center;
  align-self: start;
  border-bottom: 2px solid #FFF;
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer #dropdown-id-main-home:hover .drop-down-box-main .drop-down-contant-box .dropdown-contant-inner-box-one .dropdown-contant-text:nth-child(3n+1) {
  border-radius: 8px 8px 0 0;
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer #dropdown-id-main-home:hover .drop-down-box-main .drop-down-contant-box .dropdown-contant-inner-box-one .dropdown-contant-text:nth-child(3n+2) {
  border-radius: 0 0 8px 8px;
  border: none;
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer #dropdown-id-main-home:hover .drop-down-box-main .drop-down-contant-box .dropdown-contant-inner-box-one .dropdown-contant-text:hover {
  background: #EF404A;
  color: #FFF;
  transition: 0.5s ease-in-out;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer #dropdown-id-main-home:hover .drop-down-box-main .drop-down-contant-box .dropdown-contant-inner-box-one .dropdown-contant-text:hover a {
  color: #FFF;
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer #dropdown-id-main-home:hover .drop-down-box-main .drop-down-contant-box .dropdown-contant-inner-box-one .dropdown-contant-text a {
  color: #EF404A;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  font-family: "Montserrat", sans-serif;
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer #dropdown-id-main-home .drop-down-box-main {
  display: none;
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer #dropdown-id-main-home-h-two {
  position: relative;
  overflow: visible;
  transition: 0.5s ease-in-out;
  display: flex;
  align-items: start;
  gap: 7px;
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer #dropdown-id-main-home-h-two a {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #282828;
  font-weight: 500;
  line-height: 19.5px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  padding: 0px;
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer #dropdown-id-main-home-h-two span {
  margin: 1px 0 0 0;
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer #dropdown-id-main-home-h-two:hover {
  transition: color 0.5s ease-in-out;
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer #dropdown-id-main-home-h-two:hover span {
  transition: color 0.5s ease-in-out;
  color: #EF404A;
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer #dropdown-id-main-home-h-two:hover a {
  transition: color 0.5s ease-in-out;
  color: #EF404A;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer #dropdown-id-main-home-h-two:hover {
  transition: 0.5s ease-in-out;
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer #dropdown-id-main-home-h-two:hover .drop-down-box-main {
  cursor: default;
  display: block;
  position: absolute;
  top: 22px;
  left: -25%;
  transform: translateX(-25%);
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer #dropdown-id-main-home-h-two:hover .drop-down-box-main .drop-down-contant-box {
  border-radius: 12px;
  margin: 20px 0 0 0;
  max-height: 100%;
  width: 300px;
  border-radius: 12px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer #dropdown-id-main-home-h-two:hover .drop-down-box-main .drop-down-contant-box .dropdown-contant-inner-box-one {
  animation-delay: 0.3s;
  border-radius: 12px;
  transition: 0.5s ease-in-out;
  text-align: center;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer #dropdown-id-main-home-h-two:hover .drop-down-box-main .drop-down-contant-box .dropdown-contant-inner-box-one .dropdown-contant-text {
  background: #FFF;
  color: #000;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: center;
  align-self: start;
  border-bottom: 2px solid #FFF;
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer #dropdown-id-main-home-h-two:hover .drop-down-box-main .drop-down-contant-box .dropdown-contant-inner-box-one .dropdown-contant-text:nth-child(3n+1) {
  border-radius: 8px 8px 0 0;
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer #dropdown-id-main-home-h-two:hover .drop-down-box-main .drop-down-contant-box .dropdown-contant-inner-box-one .dropdown-contant-text:nth-child(3n+3) {
  border-radius: 0 0 8px 8px;
  border: none;
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer #dropdown-id-main-home-h-two:hover .drop-down-box-main .drop-down-contant-box .dropdown-contant-inner-box-one .dropdown-contant-text:hover {
  background: #EF404A;
  color: #FFF;
  transition: 0.5s ease-in-out;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer #dropdown-id-main-home-h-two:hover .drop-down-box-main .drop-down-contant-box .dropdown-contant-inner-box-one .dropdown-contant-text:hover a {
  color: #FFF;
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer #dropdown-id-main-home-h-two:hover .drop-down-box-main .drop-down-contant-box .dropdown-contant-inner-box-one .dropdown-contant-text a {
  color: #EF404A;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  font-family: "Montserrat", sans-serif;
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer #dropdown-id-main-home-h-two .drop-down-box-main {
  display: none;
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer a {
  text-decoration-line: none;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #282828;
  font-weight: 500;
  line-height: 19.5px;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  height: 30px;
  padding: 0px;
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer a .hover-brd-cls {
  position: absolute;
  bottom: 6px;
  left: 0;
  width: 100px;
  height: 2px;
  background: #EF404A;
  transform: translateX(-100%);
  transition: 1.3s ease-in-out;
  border: none;
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer a p {
  color: #282828;
  padding: 0;
  border: none;
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer a.active {
  font-weight: 700;
  color: #EF404A;
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer a.active p {
  color: #EF404A;
  padding: 0 0 2px 0;
  border-bottom: 3px solid #EF404A;
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer span {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 0 0 0;
}
header .header-main .header-container .header-contant .header-contant-menu .header-contant-menu-ancer a:hover .hover-brd-cls {
  transform: translateX(0%);
  transition: 1.3s ease-in-out;
}
header .header-main .header-container .header-contant .header-contant-menu-icon {
  display: none;
}
@media (max-width: 1024px) {
  header .header-main .header-container .header-contant .header-contant-menu-icon {
    display: block;
  }
}

.header-mobile-main {
  display: none;
}
@media (max-width: 1024px) {
  .header-mobile-main {
    display: block;
  }
}
@media (max-width: 576px) {
  .header-mobile-main {
    display: block;
  }
}
.header-mobile-main .mobile-header-div-ineer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 18px 20px 15px 20px;
}
@media (max-width: 1024px) {
  .header-mobile-main .mobile-header-div-ineer {
    flex-direction: row-reverse;
  }
}
@media (max-width: 576px) {
  .header-mobile-main .mobile-header-div-ineer {
    flex-direction: row;
  }
}
.header-mobile-main .mobile-header-div-ineer .hamburger-div {
  width: 19px;
  height: 16px;
  cursor: pointer;
}
.header-mobile-main .mobile-header-div-ineer .hamburger-div img {
  width: 19px;
  height: 16px;
  rotate: 0deg;
}
@media (max-width: 1024px) {
  .header-mobile-main .mobile-header-div-ineer .hamburger-div img {
    rotate: 180deg;
  }
}
@media (max-width: 576px) {
  .header-mobile-main .mobile-header-div-ineer .hamburger-div img {
    rotate: 0deg;
  }
}
.header-mobile-main .mobile-header-div-ineer .hamburger-div .hemburger a {
  text-decoration-line: none;
  font-size: 30px;
  color: #000;
  font-weight: 700;
}
.header-mobile-main .mobile-header-div-ineer .hamburger-div .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: #fff;
  transition: transform 0.3s ease-out;
  transform: translateX(-100%);
}
@media (max-width: 1024px) {
  .header-mobile-main .mobile-header-div-ineer .hamburger-div .sidebar {
    left: auto;
    right: 0;
    transform: translateX(100%);
  }
}
@media (max-width: 576px) {
  .header-mobile-main .mobile-header-div-ineer .hamburger-div .sidebar {
    left: 0;
    right: auto;
    transform: translateX(-100%);
  }
}
.header-mobile-main .mobile-header-div-ineer .hamburger-div .sidebar.open {
  transform: translateX(0);
}
.header-mobile-main .mobile-header-div-ineer .hamburger-div .sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.header-mobile-main .mobile-header-div-ineer .hamburger-div .sidebar li {
  padding: 10px;
  border-bottom: 1px solid #444;
  cursor: pointer;
  color: #FFF;
  text-align: left;
}
.header-mobile-main .mobile-header-div-ineer .hamburger-div .sidebar li:hover {
  background-color: #444;
  color: #797979;
  transition: 0.5s ease-in-out;
}
@media (max-width: 1024px) {
  .header-mobile-main .mobile-header-div-ineer .hamburger-div .sidebar li {
    text-align: right;
  }
}
@media (max-width: 576px) {
  .header-mobile-main .mobile-header-div-ineer .hamburger-div .sidebar li {
    text-align: left;
  }
}
.header-mobile-main .mobile-header-div-ineer .hamburger-div .sidebar li a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 23.5px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  color: #FFF;
}
.header-mobile-main .mobile-header-div-ineer .hamburger-div .sidebar .close {
  position: absolute;
  z-index: 9;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: #797979;
  font-size: 24px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.header-mobile-main .mobile-header-div-ineer .hamburger-div .sidebar .close:hover {
  color: #FFF;
  transition: 0.5s ease-in-out;
}
@media (max-width: 1024px) {
  .header-mobile-main .mobile-header-div-ineer .hamburger-div .sidebar .close {
    right: auto;
    left: 10px;
  }
}
@media (max-width: 576px) {
  .header-mobile-main .mobile-header-div-ineer .hamburger-div .sidebar .close {
    right: 10px;
    left: auto;
  }
}
.header-mobile-main .mobile-header-div-ineer .mobile-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .header-mobile-main .mobile-header-div-ineer .mobile-logo {
    justify-content: start;
  }
}
@media (max-width: 576px) {
  .header-mobile-main .mobile-header-div-ineer .mobile-logo {
    justify-content: center;
  }
}
.header-mobile-main .mobile-header-div-ineer .mobile-logo img {
  width: 78px;
  height: 36px;
  cursor: pointer;
}

.blank-div-social-detail {
  padding: 100px 0 0 0;
}

section {
  margin: 0 0 80px 0;
}
section .social-detail-container-main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
section .social-detail-container-main .social-detail-page-first-sec-image {
  width: 100%;
}
section .social-detail-container-main .social-detail-page-first-sec-image img {
  display: block;
  width: 100%;
}
section .social-detail-container-main .social-detail-main-det {
  margin: 30px 0 40px 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
section .social-detail-container-main .social-detail-main-det h1 {
  margin: 0 0 6px 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  font-family: "Montserrat", sans-serif;
  color: #282828;
  text-align: left;
}
section .social-detail-container-main .social-detail-main-det p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  font-family: "Montserrat", sans-serif;
  color: #6c6c6c;
  text-align: left;
}
section .social-detail-container-main .social-detail-main-det h2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  font-family: "Montserrat", sans-serif;
  color: #282828;
  text-align: left;
  padding: 0 0 0 18px;
  border-left: 3px solid #ef404a;
}
section .social-detail-container-main .social-detail-main-sc-det {
  display: flex;
  justify-content: baseline;
  gap: 60px;
  align-items: center;
  text-align: left;
  flex-wrap: nowrap;
}
@media (max-width: 1024px) {
  section .social-detail-container-main .social-detail-main-sc-det {
    flex-wrap: wrap;
  }
}
section .social-detail-container-main .social-detail-main-sc-det .social-detail-sc-box-inner-one img {
  display: block;
  width: 100%;
}
section .social-detail-container-main .social-detail-main-sc-det .social-detail-sc-box-inner-one .detail-tes-inner-box {
  margin: 30px 0 0 0;
}
section .social-detail-container-main .social-detail-main-sc-det .social-detail-sc-box-inner-one .detail-tes-inner-box h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.26px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  color: #282828;
}
section .social-detail-container-main .social-detail-main-sc-det .social-detail-sc-box-inner-one .detail-tes-inner-box p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  font-family: "Montserrat", sans-serif;
  color: #6c6c6c;
  text-align: left;
}

.press-stm-section-main {
  background: linear-gradient(180deg, #E3FDF5 0%, #FFE6FA 100%);
  padding: 80px 0;
}
.press-stm-section-main .container-press {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.press-stm-section-main .container-press .press-title-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 60px 0;
}
.press-stm-section-main .container-press .press-title-main h1 {
  padding: 0 0 10px 0;
  border-bottom: 4px solid #FF0A0F;
  font-size: 34px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #282828;
}
.press-stm-section-main .container-press .press-card-div-main-sc {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}
@media (max-width: 1024px) {
  .press-stm-section-main .container-press .press-card-div-main-sc {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (max-width: 1200px) {
  .press-stm-section-main .container-press .press-card-div-main-sc {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (max-width: 576px) {
  .press-stm-section-main .container-press .press-card-div-main-sc {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
.press-stm-section-main .container-press .press-card-div-main-sc .press-card-div-box-one img {
  width: 100%;
  margin: 0 0 20px 0;
}
.press-stm-section-main .container-press .press-card-div-main-sc .press-card-div-box-one h2 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #000;
  margin: 0 0 6px 0;
}
.press-stm-section-main .container-press .press-card-div-main-sc .press-card-div-box-one p {
  font-size: 12px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #484848;
  margin: 0 0 12px 0;
  max-width: 351px;
  line-height: 20px;
  transition: 0.5s ease-in-out;
}
.press-stm-section-main .container-press .press-card-div-main-sc .press-card-div-box-one p .pera-active-more {
  transition: 0.5s ease-in-out;
}
.press-stm-section-main .container-press .press-card-div-main-sc .press-card-div-box-one button {
  border: none;
  background: transparent;
  text-decoration: none;
  font-size: 14px;
  margin: 0;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #ef404a;
  transition: 0.5s ease-in-out;
}

footer {
  padding: 100px 0 25px 0;
  display: block;
}
@media (max-width: 576px) {
  footer {
    display: none;
  }
}
footer .footer-container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}
footer .footer-container .footer-containt {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 20px;
  padding: 0 0 40px 0;
  border-bottom: 1px solid #d9d9d9;
}
@media (max-width: 576px) {
  footer .footer-container .footer-containt {
    flex-wrap: wrap;
  }
}
@media (max-width: 800px) {
  footer .footer-container .footer-containt {
    flex-wrap: wrap;
  }
}
footer .footer-container .footer-containt .footer-contant-pera img {
  margin: 0 0 15px 0;
}
footer .footer-container .footer-containt .footer-contant-pera p {
  font-size: 12px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #6c6c6c;
  max-width: 442px;
  text-align: left;
}
@media (max-width: 1024px) {
  footer .footer-container .footer-containt .footer-contant-pera p {
    max-width: 300px;
  }
}
footer .footer-container .footer-containt .footer-contant-link a {
  color: #282828;
  font-size: 14px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  display: block;
  text-decoration: none;
  margin: 0 0 26px 0;
}
footer .footer-container .footer-containt .footer-contant-link a:nth-child(5n+1) {
  color: #ef404a;
  font-size: 20px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  margin: 0 0 28px 0;
  display: block;
  text-decoration: none;
}
footer .footer-container .footer-containt .footer-contant-link a:nth-child(5n+5) {
  margin: 0;
}
footer .footer-container .footer-containt .footer-contant-contact h1 {
  color: #ef404a;
  font-size: 20px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  margin: 0 0 28px 0;
}
footer .footer-container .footer-containt .footer-contant-contact .footer-contact-inner {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0 0 28px 0;
}
@media (max-width: 300px) {
  footer .footer-container .footer-containt .footer-contant-contact .footer-contact-inner {
    gap: 10px;
  }
}
footer .footer-container .footer-containt .footer-contant-contact .footer-contact-inner h2 {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  max-width: 325px;
}
footer .footer-container .footer-containt .footer-contant-contact .footer-contact-inner h3 {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  font-family: "Montserrat", sans-serif;
}
footer .footer-container .footer-containt .footer-contant-contact .footer-contact-inner h4 {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  font-family: "Montserrat", sans-serif;
}
footer .footer-container .copyright-pera-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  margin: 26px 0 0 0;
}
footer .footer-container .copyright-pera-main p {
  font-size: 16px;
  font-weight: 500;
  color: #6c6c6c;
  font-family: "Montserrat", sans-serif;
}

.footer-mobile {
  display: none;
  padding: 25px 20px 20px;
}
@media (max-width: 576px) {
  .footer-mobile {
    display: block;
  }
}
.footer-mobile .footer-logo-mobile-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px 0;
}
.footer-mobile .footer-logo-mobile-main img {
  width: 115px;
  height: 55px;
}
.footer-mobile .footer-mobile-pera-main {
  text-align: center;
  margin: 0 0 22px 0;
}
.footer-mobile .footer-mobile-pera-main p {
  color: #6c6c6c;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  font-family: "Montserrat", sans-serif;
}
.footer-mobile .footer-mobile-contant-main-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 18px 0;
}
.footer-mobile .footer-mobile-contant-main-title h1 {
  color: #ef404a;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  font-family: "Montserrat", sans-serif;
}
.footer-mobile .footer-mobile-contant-main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 0 22px 0;
  gap: 15px;
}
.footer-mobile .footer-mobile-contant-main a {
  text-decoration: none;
  color: #282828;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  font-family: "Montserrat", sans-serif;
}
.footer-mobile .footer-mobile-contact-last-border-main {
  padding: 0 0 20px 0;
  border-bottom: 1px solid #d9d9d9;
  margin: 0 0 18px 0;
}
.footer-mobile .footer-mobile-contact-last-border-main .footer-mobile-contact-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 18px 0;
}
.footer-mobile .footer-mobile-contact-last-border-main .footer-mobile-contact-title h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ef404a;
  font-family: "Montserrat", sans-serif;
}
.footer-mobile .footer-mobile-contact-last-border-main .footer-mobile-contact-main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}
.footer-mobile .footer-mobile-contact-last-border-main .footer-mobile-contact-main .footer-contact-box {
  display: flex;
  align-items: center;
  gap: 5px;
}
.footer-mobile .footer-mobile-contact-last-border-main .footer-mobile-contact-main .footer-contact-box p {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  color: #282828;
  font-family: "Montserrat", sans-serif;
}
.footer-mobile .footer-mobile-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer-mobile .footer-mobile-copyright p {
  color: #6c6c6c;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  font-family: "Montserrat", sans-serif;
}/*# sourceMappingURL=socialmediadetails.css.map */