* {
  font-family: "Poppins", sans-serif;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.blank-div-social-detail {
  padding: 100px 0 0 0;
}

section {
  margin: 0 0 80px 0;
}
section .social-detail-container-main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
section .social-detail-container-main .social-detail-page-first-sec-image {
  width: 100%;
}
section .social-detail-container-main .social-detail-page-first-sec-image img {
  display: block;
  width: 100%;
}
section .social-detail-container-main .social-detail-main-det {
  margin: 30px 0 40px 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
section .social-detail-container-main .social-detail-main-det h1 {
  margin: 0 0 6px 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  font-family: "Montserrat", sans-serif;
  color: #282828;
  text-align: left;
}
section .social-detail-container-main .social-detail-main-det p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  font-family: "Montserrat", sans-serif;
  color: #6c6c6c;
  text-align: left;
}
section .social-detail-container-main .social-detail-main-det h2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  font-family: "Montserrat", sans-serif;
  color: #282828;
  text-align: left;
  padding: 0 0 0 18px;
  border-left: 3px solid #ef404a;
}
section .social-detail-container-main .social-detail-main-sc-det {
  display: flex;
  justify-content: baseline;
  gap: 60px;
  align-items: center;
  text-align: left;
  flex-wrap: nowrap;
}
@media (max-width: 1024px) {
  section .social-detail-container-main .social-detail-main-sc-det {
    flex-wrap: wrap;
  }
}
section .social-detail-container-main .social-detail-main-sc-det .social-detail-sc-box-inner-one img {
  display: block;
  width: 100%;
}
section .social-detail-container-main .social-detail-main-sc-det .social-detail-sc-box-inner-one .detail-tes-inner-box {
  margin: 30px 0 0 0;
}
section .social-detail-container-main .social-detail-main-sc-det .social-detail-sc-box-inner-one .detail-tes-inner-box h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.26px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  color: #282828;
}
section .social-detail-container-main .social-detail-main-sc-det .social-detail-sc-box-inner-one .detail-tes-inner-box p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  font-family: "Montserrat", sans-serif;
  color: #6c6c6c;
  text-align: left;
}

.press-stm-section-main {
  background: linear-gradient(180deg, #E3FDF5 0%, #FFE6FA 100%);
  padding: 80px 0;
}
.press-stm-section-main .container-press {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.press-stm-section-main .container-press .press-title-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 60px 0;
}
.press-stm-section-main .container-press .press-title-main h1 {
  padding: 0 0 10px 0;
  border-bottom: 4px solid #FF0A0F;
  font-size: 34px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #282828;
}
.press-stm-section-main .container-press .press-card-div-main-sc {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}
@media (max-width: 1024px) {
  .press-stm-section-main .container-press .press-card-div-main-sc {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (max-width: 1200px) {
  .press-stm-section-main .container-press .press-card-div-main-sc {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (max-width: 576px) {
  .press-stm-section-main .container-press .press-card-div-main-sc {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
.press-stm-section-main .container-press .press-card-div-main-sc .press-card-div-box-one img {
  width: 100%;
  margin: 0 0 20px 0;
}
.press-stm-section-main .container-press .press-card-div-main-sc .press-card-div-box-one h2 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #000;
  margin: 0 0 6px 0;
}
.press-stm-section-main .container-press .press-card-div-main-sc .press-card-div-box-one p {
  font-size: 12px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #484848;
  margin: 0 0 12px 0;
  max-width: 351px;
  line-height: 20px;
  transition: 0.5s ease-in-out;
}
.press-stm-section-main .container-press .press-card-div-main-sc .press-card-div-box-one p .pera-active-more {
  transition: 0.5s ease-in-out;
}
.press-stm-section-main .container-press .press-card-div-main-sc .press-card-div-box-one button {
  border: none;
  background: transparent;
  text-decoration: none;
  font-size: 14px;
  margin: 0;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #ef404a;
  transition: 0.5s ease-in-out;
}/*# sourceMappingURL=socialmediadetails.css.map */