* {
    font-family: "Poppins", sans-serif;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}


.blank-div-social-detail {
    padding: 100px 0 0 0;

    @media (max-width:1024px) {
        padding: 0;
    }
}





section {
    margin: 0 0 80px 0;

    .social-detail-container-main {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;

        .social-detail-page-first-sec-image {
            width: 100%;

            img {
                display: block;
                width: 100%;
            }
        }

        .social-detail-main-det {
            margin: 30px 0 40px 0;
            display: flex;
            flex-direction: column;
            gap: 14px;

            h1 {
                margin: 0 0 6px 0;
                font-size: 30px;
                font-weight: 700;
                line-height: 36px;
                font-family: "Montserrat", sans-serif;
                color: #282828;
                text-align: left;
            }

            p {
                font-size: 16px;
                font-weight: 400;
                line-height: 30px;
                font-family: "Montserrat", sans-serif;
                color: #6c6c6c;
                text-align: left;
            }

            h2 {
                font-size: 16px;
                font-weight: 600;
                line-height: 30px;
                font-family: "Montserrat", sans-serif;
                color: #282828;
                text-align: left;
                padding: 0 0 0 18px;
                border-left: 3px solid #ef404a;
            }
        }

        .social-detail-main-sc-det {
            display: flex;
            justify-content: baseline;
            gap: 60px;
            align-items: center;
            text-align: left;
            flex-wrap: nowrap;

            @media (max-width:1024px) {
                flex-wrap: wrap;
            }

            .social-detail-sc-box-inner-one {

                img {
                    display: block;
                    width: 100%;
                }

                .detail-tes-inner-box {
                    margin: 30px 0 0 0;

                    h3 {
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 29.26px;
                        text-align: left;
                        font-family: "Montserrat", sans-serif;
                        color: #282828;
                    }

                    p {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 30px;
                        font-family: "Montserrat", sans-serif;
                        color: #6c6c6c;
                        text-align: left;
                    }
                }
            }
        }
    }
}



.press-stm-section-main {
    background: linear-gradient(180deg, #E3FDF5 0%, #FFE6FA 100%);
    padding: 80px 0;

    .container-press {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;

        .press-title-main {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 0 60px 0;

            h1 {
                padding: 0 0 10px 0;
                border-bottom: 4px solid #FF0A0F;
                font-size: 34px;
                font-weight: 700;
                font-family: "Montserrat", sans-serif;
                color: #282828;
            }
        }

        .press-card-div-main-sc {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 60px;

            @media(max-width:1024px) {
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;
            }

            @media(max-width:1200px) {
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;
            }

            @media(max-width:576px) {
                grid-template-columns: repeat(1, 1fr);
                gap: 20px;
            }

            .press-card-div-box-one {

                img {
                    width: 100%;

                    margin: 0 0 20px 0;
                }

                h2 {
                    font-size: 24px;
                    font-weight: 700;
                    font-family: "Montserrat", sans-serif;
                    color: #000;
                    margin: 0 0 6px 0;
                }

                p {
                    font-size: 12px;
                    font-weight: 400;
                    font-family: "Montserrat", sans-serif;
                    color: #484848;
                    margin: 0 0 12px 0;
                    max-width: 351px;
                    line-height: 20px;
                    transition: .5s ease-in-out;

                    .pera-active-more {
                        transition: .5s ease-in-out;
                    }
                }

                button {
                    border: none;
                    background: transparent;
                    text-decoration: none;
                    font-size: 14px;
                    margin: 0;
                    font-weight: 600;
                    font-family: "Montserrat", sans-serif;
                    color: #ef404a;
                    transition: .5s ease-in-out;
                }
            }
        }
    }
}