* {
    font-family: "Poppins", sans-serif;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}





.header-banglore {
    display: block;
    position: static;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;

    @media (max-width:1024px) {
        display: none;
    }

    @media (max-width:576px) {
        display: none;
    }


    .header-main {
        position: absolute;
        z-index: 9;
        top: 0;
        width: 100%;
        padding-top: 25px;

        @media (max-width: 576px) {
            padding-top: 18px;
        }

        &.scrolled {
            background-color: white;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .header-container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;

            .header-contant {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .header-contant-logo {
                    cursor: pointer;
                }

                .header-contant-menu {
                    display: flex;
                    align-items: center;
                    gap: 41px;

                    @media (max-width: 1024px) {
                        display: none;
                    }

                    .header-contant-menu-ancer {
                        display: flex;
                        align-items: start;
                        gap: 7px;
                        color: #FFF;
                        transition: color 0.5s ease-in-out;

                        &:hover {
                            transition: color 0.5s ease-in-out;

                            p {
                                transition: color .5s ease-in-out;
                                color: #EF404A;
                            }

                            span {
                                transition: color .5s ease-in-out;
                                color: #EF404A;
                            }

                            a {
                                transition: color .5s ease-in-out;
                                color: #EF404A;
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 19.5px;
                            }
                        }

                        p {
                            cursor: pointer;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        #dropdown-id-main-home {
                            position: relative;
                            overflow: visible;
                            transition: .5s ease-in-out;
                            display: flex;
                            align-items: start;
                            gap: 7px;

                            a {
                                font-family: "Montserrat", sans-serif;
                                font-size: 16px;
                                color: #FFF;
                                font-weight: 500;
                                line-height: 19.5px;
                                cursor: pointer;
                                overflow: hidden;
                                position: relative;
                                padding: 0px;
                            }

                            span {
                                margin: 1px 0 0 0;
                            }

                            &:hover {
                                transition: color 0.5s ease-in-out;

                                span {
                                    transition: color .5s ease-in-out;
                                    color: #EF404A;
                                }

                                a {
                                    transition: color .5s ease-in-out;
                                    color: #EF404A;
                                    font-weight: 500;
                                    font-size: 16px;
                                    line-height: 19.5px;
                                }
                            }

                            &:hover {
                                transition: .5s ease-in-out;

                                .drop-down-box-main {
                                    cursor: default;
                                    display: block;
                                    position: absolute;
                                    top: 22px;
                                    left: -25%;
                                    transform: translateX(-25%);

                                    .drop-down-contant-box {
                                        border-radius: 12px;
                                        margin: 20px 0 0 0;
                                        max-height: 100%;
                                        width: 300px;
                                        border-radius: 12px;
                                        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);

                                        .dropdown-contant-inner-box-one {
                                            animation-delay: 0.3s;
                                            border-radius: 12px;
                                            transition: .5s ease-in-out;
                                            text-align: center;
                                            box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);

                                            .dropdown-contant-text {
                                                background: #FFF;
                                                color: #000;
                                                box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
                                                transition: .5s ease-in-out;
                                                cursor: pointer;
                                                padding: 20px 0 20px 0;
                                                display: flex;
                                                justify-content: center;
                                                align-self: start;
                                                // transform: rotateY(360deg);
                                                border-bottom: 2px solid #FFF;

                                                &:nth-child(3n + 1) {
                                                    border-radius: 8px 8px 0 0;
                                                }

                                                &:nth-child(3n + 2) {
                                                    border-radius: 0 0 8px 8px;
                                                    border: none;
                                                }

                                                &:hover {
                                                    background: #EF404A;
                                                    color: #FFF;
                                                    transition: .5s ease-in-out;
                                                    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
                                                    // transform: rotateY(0deg);

                                                    a {
                                                        color: #FFF;
                                                    }
                                                }

                                                a {
                                                    color: #EF404A;
                                                    font-size: 20px;
                                                    font-weight: 500;
                                                    line-height: 20px;
                                                    font-family: "Montserrat", sans-serif;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .drop-down-box-main {
                                display: none;
                            }
                        }

                        #dropdown-id-main-home-h-two {
                            position: relative;
                            overflow: visible;
                            transition: .5s ease-in-out;
                            display: flex;
                            align-items: start;
                            gap: 7px;

                            a {
                                font-family: "Montserrat", sans-serif;
                                font-size: 16px;
                                color: #FFF;
                                font-weight: 500;
                                line-height: 19.5px;
                                cursor: pointer;
                                overflow: hidden;
                                position: relative;
                                padding: 0px;
                            }

                            span {
                                margin: 1px 0 0 0;
                            }

                            &:hover {
                                transition: color 0.5s ease-in-out;

                                span {
                                    transition: color .5s ease-in-out;
                                    color: #EF404A;
                                }

                                a {
                                    transition: color .5s ease-in-out;
                                    color: #EF404A;
                                    font-weight: 500;
                                    font-size: 16px;
                                    line-height: 19.5px;
                                }
                            }

                            &:hover {
                                transition: .5s ease-in-out;

                                .drop-down-box-main {
                                    cursor: default;
                                    display: block;
                                    position: absolute;
                                    top: 22px;
                                    left: -25%;
                                    transform: translateX(-25%);

                                    .drop-down-contant-box {
                                        border-radius: 12px;
                                        margin: 20px 0 0 0;
                                        max-height: 100%;
                                        width: 300px;
                                        border-radius: 12px;
                                        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);

                                        .dropdown-contant-inner-box-one {
                                            animation-delay: 0.3s;
                                            border-radius: 12px;
                                            transition: .5s ease-in-out;
                                            text-align: center;
                                            box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);

                                            .dropdown-contant-text {
                                                background: #FFF;
                                                color: #000;
                                                box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
                                                transition: .5s ease-in-out;
                                                cursor: pointer;
                                                padding: 20px 0 20px 0;
                                                display: flex;
                                                justify-content: center;
                                                align-self: start;
                                                // transform: rotateY(360deg);
                                                border-bottom: 2px solid #FFF;

                                                &:nth-child(3n + 1) {
                                                    border-radius: 8px 8px 0 0;
                                                }

                                                &:nth-child(3n + 3) {
                                                    border-radius: 0 0 8px 8px;
                                                    border: none;
                                                }

                                                &:hover {
                                                    background: #EF404A;
                                                    color: #FFF;
                                                    transition: .5s ease-in-out;
                                                    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
                                                    // transform: rotateY(0deg);

                                                    a {
                                                        color: #FFF;
                                                    }
                                                }

                                                a {
                                                    color: #EF404A;
                                                    font-size: 20px;
                                                    font-weight: 500;
                                                    line-height: 20px;
                                                    font-family: "Montserrat", sans-serif;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .drop-down-box-main {
                                display: none;
                            }
                        }

                        a {
                            text-decoration-line: none;
                            font-family: "Montserrat", sans-serif;
                            font-size: 16px;
                            color: #FFF;
                            font-weight: 500;
                            line-height: 19.5px;
                            cursor: pointer;
                            text-decoration: none;
                            overflow: hidden;
                            position: relative;
                            height: 30px;
                            padding: 0px;

                            .hover-brd-cls {
                                position: absolute;
                                bottom: 6px;
                                left: 0;
                                width: 100px;
                                height: 2px;
                                background: #EF404A;
                                transform: translateX(-100%);
                                transition: 1.3s ease-in-out;
                                border: none;
                            }

                            p {
                                color: #FFF;
                                padding: 0;
                                border: none;
                            }

                            &.active {
                                font-weight: 700;
                                color: #EF404A;

                                p {
                                    color: #EF404A;
                                    padding: 0 0 2px 0;
                                    border-bottom: 3px solid #EF404A;
                                }
                            }
                        }

                        span {
                            cursor: pointer;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 2px 0 0 0;
                        }

                        a:hover .hover-brd-cls {
                            transform: translateX(0%);
                            transition: 1.3s ease-in-out;
                        }
                    }
                }

                .header-contant-menu-icon {
                    display: none;

                    @media (max-width: 1024px) {
                        display: block;
                    }
                }
            }
        }
    }
}



.header-mobile-main {
    display: none;

    @media (max-width:1024px) {
        display: block;
    }

    @media (max-width:576px) {
        display: block;
    }

    .mobile-header-div-ineer {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        padding: 18px 20px 15px 20px;

        @media (max-width:1024px) {
            flex-direction: row-reverse;
        }


        @media (max-width:576px) {
            flex-direction: row;
        }

        .hamburger-div {
            width: 19px;
            height: 16px;
            cursor: pointer;

            img {
                width: 19px;
                height: 16px;
                rotate: 0deg;

                @media (max-width:1024px) {
                    rotate: 180deg;
                }

                @media (max-width:576px) {
                    rotate: 0deg;
                }
            }

            .hemburger a {
                text-decoration-line: none;
                font-size: 30px;
                color: #000;
                font-weight: 700;
            }


            .sidebar {
                position: fixed;
                top: 0;
                left: 0;
                z-index: 999;
                width: 250px;
                height: 100%;
                background-color: #333;
                color: #fff;
                transition: transform 0.3s ease-out;
                transform: translateX(-100%);

                @media (max-width: 1024px) {
                    left: auto;
                    right: 0;
                    transform: translateX(100%);
                }

                @media (max-width: 576px) {
                    left: 0;
                    right: auto;
                    transform: translateX(-100%);
                }

                &.open {
                    transform: translateX(0);
                }

                ul {
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                }

                li {
                    padding: 10px;
                    border-bottom: 1px solid #444;
                    cursor: pointer;
                    color: #FFF;
                    text-align: left;

                    &:hover {
                        background-color: #444;
                        color: #797979;
                        transition: .5s ease-in-out;
                    }

                    @media (max-width:1024px) {
                        text-align: right;
                    }

                    @media (max-width:576px) {
                        text-align: left;
                    }

                    a {
                        text-decoration: none;
                        font-family: "Montserrat", sans-serif;
                        font-size: 19px;
                        font-weight: 500;
                        line-height: 23.5px;
                        cursor: pointer;
                        transition: .5s ease-in-out;
                        color: #FFF;
                    }
                }

                .close {
                    position: absolute;
                    z-index: 9;
                    top: 10px;
                    right: 10px;
                    background-color: transparent;
                    border: none;
                    color: #797979;
                    font-size: 24px;
                    cursor: pointer;
                    transition: .5s ease-in-out;

                    &:hover {
                        color: #FFF;
                        transition: .5s ease-in-out;
                    }

                    @media (max-width:1024px) {
                        right: auto;
                        left: 10px;
                    }

                    @media (max-width:576px) {
                        right: 10px;
                        left: auto;
                    }
                }
            }

        }

        .mobile-logo {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            @media (max-width:1024px) {
                justify-content: start;
            }

            @media (max-width:576px) {
                justify-content: center;
            }

            img {
                width: 78px;
                height: 36px;
                cursor: pointer;
            }
        }
    }
}












.herobanner-electric-main {
    user-select: none;
    -webkit-user-select: none;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 0 81px 0;
    display: block;

    @media (max-width:1024px) {
        display: none;
    }

    img {
        width: 100%;
        height: 100%;
    }

    .herobanner-inner-main {
        padding: 144px 0 0 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 149px);
        display: flex;
        justify-content: space-between;

        @media (max-width:1024px) {
            padding: 0;
            height: 100%;
        }


        .herobanner-inner-main-insc {
            display: flex;
            justify-content: space-between;
            gap: 67px;
            width: 100%;
            height: 100%;
            padding: 0 0 0 120px;

            @media (max-width:1400px) {
                padding: 0 0 0 30px;
            }

            @media (max-width:1024px) {
                padding: 0 0 0 50px;
            }

            .scooter-first-div-main {
                position: relative;
                margin: 90px 0 0 0;

                @media (max-width:1300px) {
                    margin: 50px 0 0 0;
                }

                @media (max-width:1024px) {
                    margin: 75px 0 0 0;
                }

                @media (max-width:800px) {
                    margin: 50px 0 0 0;
                }

                .banglore-electric-titl-main {

                    h1 {
                        font-size: 48px;
                        font-weight: 800;
                        line-height: 59px;
                        color: #FFF;
                        font-family: "Montserrat", sans-serif;
                        margin: 0 0 15px 0;
                        min-width: 431px;

                        @media (max-width:1300px) {
                            font-size: 32px;
                            line-height: 40px;
                            min-width: fit-content;
                        }

                        @media (max-width:1024px) {
                            font-size: 25px;
                            line-height: 35px;
                            min-width: fit-content;
                        }
                    }

                    p {
                        font-size: 22px;
                        font-weight: 400;
                        line-height: 36px;
                        color: #FFFFFFD6;
                        font-family: "Montserrat", sans-serif;
                        margin: 0 0 40px 0;

                        @media (max-width:1300px) {
                            font-size: 18px;
                            line-height: 25px;
                            margin: 0 0 30px 0;
                        }

                        @media (max-width:1024px) {
                            font-size: 13px;
                            line-height: 25px;
                        }
                    }

                    .book-now-button-banglore {
                        margin: 0 0 105px 0;
                        width: 100%;

                        @media (max-width:1300px) {
                            margin: 0 0 20px 0;
                        }

                        button {
                            width: 228px;
                            height: 54px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: #FFF;
                            background: #EF404A;
                            border: none;
                            border-radius: 4px;
                            font-size: 20px;
                            line-height: 30px;
                            font-weight: 500;
                            font-family: "Poppins", sans-serif;
                            transition: .5s ease-in-out;

                            &:hover {
                                background: #FFF;
                                color: #EF404A;
                                transition: .5s ease-in-out;
                            }
                        }
                    }
                }

                .herobanner-elec-page-button-main {
                    position: absolute;
                    bottom: 50px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 100%;

                    .herobanner-image-changer-button-main-div-sc {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 8px;

                        button {
                            background-color: #FFF;
                            height: 10px;
                            width: 10px;
                            border: none;
                            border-radius: 50%;
                            cursor: pointer;
                            transition: .5s ease-in-out;
                            display: block;
                        }

                        .active {
                            width: 35px;
                            height: 10px;
                            border: none;
                            border-radius: 10px;
                            background-color: #EF404A;
                            cursor: pointer;
                            transition: .5s ease-in-out;
                        }
                    }
                }
            }

            .scooter-div-two-main {
                width: 100%;
                height: 100%;

                .scooter-div-main {
                    margin: 0;
                    display: block;
                    background-image: url("../../assets/electricscooterimage/Rectangle9.png");
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                    padding: 0 70px 15px 88px;
                    width: calc(100% - 158px);
                    min-height: 513px;
                    user-select: none;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @media (max-width:1200px) {
                        min-height: 371px;
                    }

                    @media (max-width:800px) {
                        padding: 0 40px 0 30px;
                    }

                    img {
                        width: 100%;
                        // height: 100%;
                        user-select: none;
                    }
                }
            }
        }

    }
}





.herobanner-elec-mobile {
    margin: 0 0 50px 0;
    display: none;

    @media (max-width:1024px) {
        display: block;
    }

    .herobanner-mobile-main {
        background-image: url(../../assets/image/mobilebak.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 550px;
        width: calc(100% - 8px - 32px);
        padding: 18px 8px 8px 32px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @media (max-width:576px) {
            padding: 18px 8px 8px 20px;
            width: calc(100% - 28px);
        }

        @media (max-width:300px) {
            padding: 18px 8px 8px 20px;
            height: 350px;
            width: calc(100% - 28px);
        }


        .bounce-title-div-main {
            display: flex;
            align-items: center;
            justify-content: center;

            h1 {
                text-align: center;
                font-size: 21px;
                font-weight: 800;
                font-family: "Montserrat", sans-serif;
                color: #FFFFFF;
                margin: 0 0 3px 0;
            }
        }

        .bounce-pera-div-main {
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                text-align: center;
                font-size: 12px;
                font-weight: 400;
                font-family: "Montserrat", sans-serif;
                color: #FFFFFF;
                margin: 0 0 10px 0;
            }
        }

        .herobanner-mobile-button-main {
            display: flex;
            justify-content: center;
            align-items: center;

            button {
                background: #ef404a;
                width: 131px;
                height: 36px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                border-radius: 2px;
                color: #FFF;
                font-size: 12px;
                font-weight: 500;
                font-family: "Poppins", sans-serif;
                cursor: pointer;
            }
        }

        .herobanner-mobile-bike-image {
            display: flex;
            justify-content: center;
            align-items: center;

            @media (max-width:400px) {
                left: 0px;
            }

            img {
                width: 100%;

            }
        }

        .herobanner-mobile-image-changer-button-main-div {
            position: absolute;
            z-index: 9;
            bottom: 8px;
            right: 8px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            width: 10px;

            button {
                background-color: #FFF;
                height: 10px;
                width: 10px;
                border: none;
                border-radius: 50%;
                cursor: pointer;
                transition: .5s ease-in-out;
            }

            .active {
                width: 10px;
                height: 35px;
                border: none;
                border-radius: 10px;
                background-color: #EF404A;
                cursor: pointer;
                transition: .5s ease-in-out;
            }
        }
    }
}













.electric-scooter-section-main-bnglore-page {
    background: linear-gradient(0deg, #FFF1EB 0%, #ACE0F9 100%);
    width: 100%;
    padding: 80px 0;
    margin: 0 0 100px 0;

    .electric-scooter-container-main-bnglore-page {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;

        .electric-sccooter-title-banglore-main {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 0 60px 0;

            h2 {
                font-size: 28px;
                font-weight: 700;
                line-height: 35px;
                font-family: "Montserrat", sans-serif;
                color: #282828;
                padding: 0 0 10px 0;
                border-bottom: 4px solid #EF404A;
            }
        }

        .scoter-crd-main-section-flx {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 30px;
            flex-wrap: nowrap;

            @media (max-width:1200px) {
                gap: 20px;
                flex-wrap: wrap;
                justify-content: center;
            }

            .scooter-crd-box-one-main {
                background: #FFFFFF;
                box-shadow: 0px 1px 10px 0px #0000000F;
                padding: 25px 20px 30px 20px;

                .infinity-image-scooter-main {
                    display: block;
                    margin: 0 0 35px 0;
                }

                .electic-section-inner-detail-main {
                    text-align: left;
                    padding: 0 0 25px 0;
                    margin: 0 0 22px 0;
                    border-bottom: 1px solid #E6E6E6;

                    h3 {
                        font-size: 36px;
                        font-weight: 700;
                        line-height: 44px;
                        color: #282828;
                        font-family: "Montserrat", sans-serif;
                        margin: 0 0 25px 0;
                    }

                    h4 {
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 22px;
                        color: #4F4F4F;
                        font-family: "Montserrat", sans-serif;
                        margin: 0 0 22px 0;
                    }

                    h5 {
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 22px;
                        color: #4F4F4F;
                        font-family: "Montserrat", sans-serif;
                    }
                }

                .electric-section-inner-details-sc-in {

                    h6 {
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 22px;
                        color: #949494;
                        font-family: "Montserrat", sans-serif;
                        margin: 0 0 8px 0;
                    }

                    p {
                        font-size: 28px;
                        font-weight: 500;
                        line-height: 35px;
                        color: #282828;
                        font-family: "Montserrat", sans-serif;
                        margin: 0 0 30px 0;
                    }

                    .read-more-button {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        button {
                            width: 338px;
                            height: 52px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 8px;
                            background: #EF404A;
                            color: #FFF;
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 22px;
                            font-family: "Montserrat", sans-serif;
                            border: 1px solid #EF404A;
                            transition: .5s ease-in-out;

                            &:hover {
                                transition: .5s ease-in-out;
                                color: #EF404A;
                                background: #FFF;

                                span {
                                    background-image: url("../../assets/bangaloreimage/readarrowtwo.png");
                                    transition: .5s ease-in-out;
                                }
                            }

                            span {
                                transition: .5s ease-in-out;
                                background-image: url("../../assets/bangaloreimage/readarrow.png");
                                width: 30px;
                                height: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

















footer {
    padding: 100px 0 25px 0;
    display: block;

    @media (max-width:576px) {
        display: none;
    }

    .footer-container {
        max-width: 1180px;
        margin: 0 auto;
        padding: 0 20px;

        .footer-containt {
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
            gap: 20px;
            padding: 0 0 40px 0;
            border-bottom: 1px solid #d9d9d9;

            @media (max-width:576px) {
                flex-wrap: wrap;
            }

            @media (max-width:800px) {
                flex-wrap: wrap;
            }

            .footer-contant-pera {

                img {


                    margin: 0 0 15px 0;
                }

                p {
                    font-size: 12px;
                    font-weight: 400;
                    font-family: "Montserrat", sans-serif;
                    color: #6c6c6c;
                    max-width: 442px;
                    text-align: left;

                    @media (max-width:1024px) {
                        max-width: 300px;
                    }
                }
            }

            .footer-contant-link {

                a {
                    color: #282828;
                    font-size: 14px;
                    font-weight: 500;
                    font-family: "Montserrat", sans-serif;
                    text-align: left;
                    display: block;
                    text-decoration: none;
                    margin: 0 0 26px 0;

                    &:nth-child(5n + 1) {
                        color: #ef404a;
                        font-size: 20px;
                        font-weight: 700;
                        font-family: "Montserrat", sans-serif;
                        text-align: left;
                        margin: 0 0 28px 0;
                        display: block;
                        text-decoration: none;
                    }

                    &:nth-child(5n + 5) {
                        margin: 0;
                    }
                }
            }

            .footer-contant-contact {

                h1 {
                    color: #ef404a;
                    font-size: 20px;
                    font-weight: 700;
                    font-family: "Montserrat", sans-serif;
                    text-align: left;
                    margin: 0 0 28px 0;
                }

                .footer-contact-inner {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    margin: 0 0 28px 0;

                    @media (max-width:300px) {
                        gap: 10px;
                    }

                    h2 {
                        color: #000;
                        font-size: 14px;
                        font-weight: 500;
                        font-family: "Montserrat", sans-serif;
                        max-width: 325px;
                    }

                    h3 {
                        font-size: 16px;
                        font-weight: 500;
                        color: #000;
                        font-family: "Montserrat", sans-serif;
                    }

                    h4 {
                        font-size: 16px;
                        font-weight: 500;
                        color: #000;
                        font-family: "Montserrat", sans-serif;
                    }
                }
            }
        }

        .copyright-pera-main {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 9px;
            margin: 26px 0 0 0;

            p {
                font-size: 16px;
                font-weight: 500;
                color: #6c6c6c;
                font-family: "Montserrat", sans-serif;
            }
        }
    }
}



.footer-mobile {
    display: none;
    padding: 25px 20px 20px;

    @media (max-width:576px) {
        display: block;
    }

    .footer-logo-mobile-main {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 20px 0;

        img {
            width: 115px;
            height: 55px;
        }
    }

    .footer-mobile-pera-main {
        text-align: center;
        margin: 0 0 22px 0;

        p {
            color: #6c6c6c;
            font-size: 12px;
            font-weight: 400;
            line-height: 20px;
            font-family: "Montserrat", sans-serif;
        }
    }

    .footer-mobile-contant-main-title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 18px 0;

        h1 {
            color: #ef404a;
            font-size: 16px;
            font-weight: 700;
            line-height: 19.5px;
            font-family: "Montserrat", sans-serif;
        }
    }

    .footer-mobile-contant-main {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0 0 22px 0;
        gap: 15px;

        a {
            text-decoration: none;
            color: #282828;
            font-size: 12px;
            font-weight: 500;
            line-height: 15px;
            font-family: "Montserrat", sans-serif;
        }
    }

    .footer-mobile-contact-last-border-main {
        padding: 0 0 20px 0;
        border-bottom: 1px solid #d9d9d9;
        margin: 0 0 18px 0;

        .footer-mobile-contact-title {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 0 18px 0;

            h2 {
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
                color: #ef404a;
                font-family: "Montserrat", sans-serif;
            }
        }

        .footer-mobile-contact-main {
            display: flex;
            flex-direction: column;
            gap: 16px;
            align-items: center;
            justify-content: center;

            .footer-contact-box {
                display: flex;
                align-items: center;
                gap: 5px;

                p {
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 15px;
                    color: #282828;
                    font-family: "Montserrat", sans-serif;
                }
            }
        }
    }

    .footer-mobile-copyright {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        p {
            color: #6c6c6c;
            font-size: 12px;
            font-weight: 500;
            line-height: 15px;
            font-family: "Montserrat", sans-serif;
        }
    }
}