* {
  font-family: "Poppins", sans-serif;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.finance-hero-banner-main {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.finance-hero-banner-main img {
  width: 100%;
  height: 100%;
}
.finance-hero-banner-main .financial-title-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.finance-hero-banner-main .financial-title-main h1 {
  color: #FFF;
  font-size: 48px;
  font-weight: 800;
  line-height: 59px;
  font-family: "Montserrat", sans-serif;
  margin: 0 0 4px 0;
  text-align: center;
}
@media (max-width: 1024px) {
  .finance-hero-banner-main .financial-title-main h1 {
    font-size: 21px;
    line-height: 25px;
  }
}
.finance-hero-banner-main .financial-title-main p {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  color: #FFF;
  min-width: 821px;
}
@media (max-width: 1024px) {
  .finance-hero-banner-main .financial-title-main p {
    min-width: 100%;
    font-size: 12px;
    line-height: 18px;
  }
}

.press-statement-fn-page-main-back {
  background: linear-gradient(180deg, #E3FDF5 0%, #FFE6FA 100%);
  padding: 80px 0;
  margin: 0 0 80px 0;
}
@media (max-width: 576px) {
  .press-statement-fn-page-main-back {
    margin: 0 0 25px 0;
  }
}
.press-statement-fn-page-main-back .press-statement-container-main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.press-statement-fn-page-main-back .press-statement-container-main .press-statement-title-main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 0 60px 0;
}
.press-statement-fn-page-main-back .press-statement-container-main .press-statement-title-main h2 {
  font-size: 34px;
  font-weight: 700;
  line-height: 41px;
  font-family: "Montserrat", sans-serif;
  padding: 0 0 10px 0;
  border-bottom: 4px solid #EF404A;
}
.press-statement-fn-page-main-back .press-statement-container-main .press-statement-card-main-flx-div {
  display: flex;
  gap: 30px;
  align-items: center;
  flex-wrap: nowrap;
}
@media (max-width: 1200px) {
  .press-statement-fn-page-main-back .press-statement-container-main .press-statement-card-main-flx-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .press-statement-fn-page-main-back .press-statement-container-main .press-statement-card-main-flx-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }
}
.press-statement-fn-page-main-back .press-statement-container-main .press-statement-card-main-flx-div .press-card-box-one-main {
  background: #FFF;
  padding: 15px 15px 20px 15px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 576px) {
  .press-statement-fn-page-main-back .press-statement-container-main .press-statement-card-main-flx-div .press-card-box-one-main img {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .press-statement-fn-page-main-back .press-statement-container-main .press-statement-card-main-flx-div .press-card-box-one-main img {
    width: 100%;
  }
}
.press-statement-fn-page-main-back .press-statement-container-main .press-statement-card-main-flx-div .press-card-box-one-main .pressimageone {
  text-align: left;
}
.press-statement-fn-page-main-back .press-statement-container-main .press-statement-card-main-flx-div .press-card-box-one-main .pressimageone h3 {
  margin: 0 0 5px 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #282828;
  font-family: "Montserrat", sans-serif;
}
.press-statement-fn-page-main-back .press-statement-container-main .press-statement-card-main-flx-div .press-card-box-one-main .pressimageone p {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #6c6c6c;
  font-family: "Montserrat", sans-serif;
}

.report-section-back-main {
  background: linear-gradient(0deg, #FFF1EB 0%, #ACE0F9 100%);
  padding: 80px 0;
}
.report-section-back-main .report-section-container-main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.report-section-back-main .report-section-container-main .report-section-main-input-fl {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
  width: 100%;
  flex-wrap: nowrap;
  margin: 0 0 50px 0;
}
@media (max-width: 1024px) {
  .report-section-back-main .report-section-container-main .report-section-main-input-fl {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.report-section-back-main .report-section-container-main .report-section-main-input-fl select {
  width: 450px;
  padding: 19px 18px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #282828;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
  background: #FFFFFF;
}
.report-section-back-main .report-section-container-main .report-section-main-input-fl select:focus {
  outline: none;
}
@media (max-width: 576px) {
  .report-section-back-main .report-section-container-main .report-section-main-input-fl select {
    width: 100%;
  }
}
.report-section-back-main .report-section-container-main .report-annual-card-fl-main {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
  text-align: left;
  flex-wrap: nowrap;
}
@media (max-width: 1024px) {
  .report-section-back-main .report-section-container-main .report-annual-card-fl-main {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.report-section-back-main .report-section-container-main .report-annual-card-fl-main .report-annual-card-box-one {
  background: #FFFFFF;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 4px;
}
.report-section-back-main .report-section-container-main .report-annual-card-fl-main .report-annual-card-box-one .annual-card-top-box-main {
  background: #dbdbdb;
  padding: 167px 0 0 350px;
  border-radius: 4px;
}
@media (max-width: 400px) {
  .report-section-back-main .report-section-container-main .report-annual-card-fl-main .report-annual-card-box-one .annual-card-top-box-main {
    padding: 150px 0 0 300px;
  }
}
.report-section-back-main .report-section-container-main .report-annual-card-fl-main .report-annual-card-box-one .annual-report-detail-main {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: start;
}
.report-section-back-main .report-section-container-main .report-annual-card-fl-main .report-annual-card-box-one .annual-report-detail-main .annual-report-detail-inner h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #282828;
  font-family: "Montserrat", sans-serif;
  margin: 0 0 3px 0;
}
.report-section-back-main .report-section-container-main .report-annual-card-fl-main .report-annual-card-box-one .annual-report-detail-main .annual-report-detail-inner p {
  color: #6c6c6c;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  font-family: "Montserrat", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
}

button {
  margin-top: 10px;
  cursor: pointer;
}/*# sourceMappingURL=financialpage.css.map */