* {
    font-family: "Poppins", sans-serif;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}



.blank-div-social-detail {
    padding: 100px 0 0 0;
}





.section {
    background: linear-gradient(0deg, #FFF1EB 0%, #ACE0F9 100%);
    padding: 80px 0;

    .contact-section-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;

        .contact-us-title-main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 0 60px 0;

            h1 {
                text-align: center;
                font-size: 34px;
                font-weight: 700;
                line-height: 41px;
                color: #282828;
                margin: 0 0 20px 0;
                padding: 0 0 10px 0;
                border-bottom: 4px solid #EF404A;
                font-family: "Montserrat", sans-serif;
            }

            p {
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                color: #282828;
                text-align: center;
                font-family: "Montserrat", sans-serif;
            }
        }

        .contact-section-main {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            gap: 60px;
            align-items: start;
            flex-wrap: nowrap;

            @media (max-width:1024px) {
                flex-wrap: wrap;
                justify-content: center;
            }

            .contact-image-section-main {

                img {
                    display: block;
                }
            }

            form {
                width: 100%;

                .contact-section-detail-main-fl {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    align-items: start;
                    width: 100%;
                    flex-wrap: nowrap;

                    @media (max-width:1024px) {
                        flex-wrap: wrap;
                    }

                    .contact-first-box {
                        width: 100%;

                        h2 {
                            margin: 0 0 10px 0;
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 22px;
                            color: #282828;
                            font-family: "Montserrat", sans-serif;
                        }

                        select {
                            width: 100%;
                            height: 54px;
                            padding: 19px 15px 18px 18px;
                            border: none;
                            border-radius: 6px;
                            font-family: "Montserrat", sans-serif;
                            cursor: pointer;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 18px;
                            color: #575757;
                            box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
                            appearance: none;

                            &:focus {
                                outline: none;
                            }
                        }
                    }

                    .conatct-box-second {
                        width: 100%;

                        h2 {
                            margin: 0 0 10px 0;
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 22px;
                            color: #282828;
                            font-family: "Montserrat", sans-serif;
                        }

                        .conatct-number-input-main {
                            position: relative;
                            width: 100%;

                            input {
                                width: calc(100% - 73px);
                                height: calc(54px - 31px);
                                padding: 16px 15px 15px 58px;
                                border: none;
                                border-radius: 6px;
                                font-family: "Montserrat", sans-serif;
                                cursor: pointer;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 18px;
                                color: #575757;
                                box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);

                                &:focus {
                                    outline: none;
                                }

                                &::placeholder {
                                    font-family: "Montserrat", sans-serif;
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 18px;
                                    color: #575757;
                                }
                            }

                            input::-webkit-outer-spin-button,
                            input::-webkit-inner-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }

                            select {
                                position: absolute;
                                top: 19px;
                                left: 18px;
                                font-size: 14px;
                                font-weight: 600;
                                line-height: 18px;
                                color: #282828;
                                font-family: "Montserrat", sans-serif;
                                padding: 0 7px 0 0;
                                border-bottom: 0;
                                border-right: 1px;
                                border-left: 0;
                                border-top: 0;
                                border-style: solid;
                                border-color: #6c6c6c;
                                appearance: none;

                                &:focus {
                                    outline: none;
                                }
                            }
                        }
                    }

                    .contact-pincode-iput-main-third {
                        width: 100%;
                        margin: 0 0 10px 0;

                        h2 {
                            margin: 0 0 10px 0;
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 22px;
                            color: #282828;
                            font-family: "Montserrat", sans-serif;
                        }

                        input {
                            width: calc(100% - 36px);
                            height: calc(54px - 37px);
                            padding: 19px 18px 18px 18px;
                            border: none;
                            border-radius: 6px;
                            font-family: "Montserrat", sans-serif;
                            cursor: pointer;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 18px;
                            color: #575757;
                            box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);

                            &:focus {
                                outline: none;
                            }

                            &::placeholder {
                                font-family: "Montserrat", sans-serif;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 18px;
                                color: #575757;
                            }
                        }

                        input::-webkit-outer-spin-button,
                        input::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                    }

                    .conatct-message-box-forth {
                        width: 100%;
                        margin: 0 0 15px 0;

                        h3 {
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 22px;
                            color: #282828;
                            font-family: "Montserrat", sans-serif;
                        }

                        textarea {
                            width: calc(100% - 36px);
                            height: calc(180px - 38px);
                            resize: none;
                            padding: 19px 18px;
                            border: none;
                            border-radius: 6px;
                            box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);

                            &:focus {
                                outline: none;
                            }
                        }
                    }

                    .contact-submit-button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;

                        button {
                            margin: 0;
                            width: calc(300px - 4px);
                            height: calc(54px - 4px);
                            background-color: #EF404A;
                            color: #FFF;
                            border-radius: 4px;
                            border: 2px solid #EF404A;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 20px;
                            font-weight: 600;
                            line-height: 25px;
                            font-family: "Montserrat", sans-serif;
                            cursor: pointer;
                            transition: .5s ease-in-out;

                            &:hover {
                                transition: .5s ease-in-out;
                                background-color: #FFF;
                                color: #EF404A;
                            }

                            @media (max-width:700px) {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}