* {
  font-family: "Poppins", sans-serif;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.blank-div-social-detail {
  padding: 100px 0 0 0;
}

.section {
  background: linear-gradient(0deg, #FFF1EB 0%, #ACE0F9 100%);
  padding: 80px 0;
}
.section .contact-section-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.section .contact-section-container .contact-us-title-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 60px 0;
}
.section .contact-section-container .contact-us-title-main h1 {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  line-height: 41px;
  color: #282828;
  margin: 0 0 20px 0;
  padding: 0 0 10px 0;
  border-bottom: 4px solid #EF404A;
  font-family: "Montserrat", sans-serif;
}
.section .contact-section-container .contact-us-title-main p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #282828;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.section .contact-section-container .contact-section-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 60px;
  align-items: start;
  flex-wrap: nowrap;
}
@media (max-width: 1024px) {
  .section .contact-section-container .contact-section-main {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.section .contact-section-container .contact-section-main .contact-image-section-main img {
  display: block;
}
.section .contact-section-container .contact-section-main form {
  width: 100%;
}
.section .contact-section-container .contact-section-main form .contact-section-detail-main-fl {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: start;
  width: 100%;
  flex-wrap: nowrap;
}
@media (max-width: 1024px) {
  .section .contact-section-container .contact-section-main form .contact-section-detail-main-fl {
    flex-wrap: wrap;
  }
}
.section .contact-section-container .contact-section-main form .contact-section-detail-main-fl .contact-first-box {
  width: 100%;
}
.section .contact-section-container .contact-section-main form .contact-section-detail-main-fl .contact-first-box h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #282828;
  font-family: "Montserrat", sans-serif;
}
.section .contact-section-container .contact-section-main form .contact-section-detail-main-fl .contact-first-box select {
  width: 100%;
  height: 54px;
  padding: 19px 15px 18px 18px;
  border: none;
  border-radius: 6px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #575757;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.section .contact-section-container .contact-section-main form .contact-section-detail-main-fl .contact-first-box select:focus {
  outline: none;
}
.section .contact-section-container .contact-section-main form .contact-section-detail-main-fl .conatct-box-second {
  width: 100%;
}
.section .contact-section-container .contact-section-main form .contact-section-detail-main-fl .conatct-box-second h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #282828;
  font-family: "Montserrat", sans-serif;
}
.section .contact-section-container .contact-section-main form .contact-section-detail-main-fl .conatct-box-second .conatct-number-input-main {
  position: relative;
  width: 100%;
}
.section .contact-section-container .contact-section-main form .contact-section-detail-main-fl .conatct-box-second .conatct-number-input-main input {
  width: calc(100% - 73px);
  height: 23px;
  padding: 16px 15px 15px 58px;
  border: none;
  border-radius: 6px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #575757;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
}
.section .contact-section-container .contact-section-main form .contact-section-detail-main-fl .conatct-box-second .conatct-number-input-main input:focus {
  outline: none;
}
.section .contact-section-container .contact-section-main form .contact-section-detail-main-fl .conatct-box-second .conatct-number-input-main input::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #575757;
}
.section .contact-section-container .contact-section-main form .contact-section-detail-main-fl .conatct-box-second .conatct-number-input-main input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #575757;
}
.section .contact-section-container .contact-section-main form .contact-section-detail-main-fl .conatct-box-second .conatct-number-input-main input::-webkit-outer-spin-button,
.section .contact-section-container .contact-section-main form .contact-section-detail-main-fl .conatct-box-second .conatct-number-input-main input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.section .contact-section-container .contact-section-main form .contact-section-detail-main-fl .conatct-box-second .conatct-number-input-main select {
  position: absolute;
  top: 19px;
  left: 18px;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: #282828;
  font-family: "Montserrat", sans-serif;
  padding: 0 7px 0 0;
  border-bottom: 0;
  border-right: 1px;
  border-left: 0;
  border-top: 0;
  border-style: solid;
  border-color: #6c6c6c;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.section .contact-section-container .contact-section-main form .contact-section-detail-main-fl .conatct-box-second .conatct-number-input-main select:focus {
  outline: none;
}
.section .contact-section-container .contact-section-main form .contact-section-detail-main-fl .contact-pincode-iput-main-third {
  width: 100%;
  margin: 0 0 10px 0;
}
.section .contact-section-container .contact-section-main form .contact-section-detail-main-fl .contact-pincode-iput-main-third h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #282828;
  font-family: "Montserrat", sans-serif;
}
.section .contact-section-container .contact-section-main form .contact-section-detail-main-fl .contact-pincode-iput-main-third input {
  width: calc(100% - 36px);
  height: 17px;
  padding: 19px 18px 18px 18px;
  border: none;
  border-radius: 6px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #575757;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
}
.section .contact-section-container .contact-section-main form .contact-section-detail-main-fl .contact-pincode-iput-main-third input:focus {
  outline: none;
}
.section .contact-section-container .contact-section-main form .contact-section-detail-main-fl .contact-pincode-iput-main-third input::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #575757;
}
.section .contact-section-container .contact-section-main form .contact-section-detail-main-fl .contact-pincode-iput-main-third input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #575757;
}
.section .contact-section-container .contact-section-main form .contact-section-detail-main-fl .contact-pincode-iput-main-third input::-webkit-outer-spin-button,
.section .contact-section-container .contact-section-main form .contact-section-detail-main-fl .contact-pincode-iput-main-third input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.section .contact-section-container .contact-section-main form .contact-section-detail-main-fl .conatct-message-box-forth {
  width: 100%;
  margin: 0 0 15px 0;
}
.section .contact-section-container .contact-section-main form .contact-section-detail-main-fl .conatct-message-box-forth h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #282828;
  font-family: "Montserrat", sans-serif;
}
.section .contact-section-container .contact-section-main form .contact-section-detail-main-fl .conatct-message-box-forth textarea {
  width: calc(100% - 36px);
  height: 142px;
  resize: none;
  padding: 19px 18px;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
}
.section .contact-section-container .contact-section-main form .contact-section-detail-main-fl .conatct-message-box-forth textarea:focus {
  outline: none;
}
.section .contact-section-container .contact-section-main form .contact-section-detail-main-fl .contact-submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.section .contact-section-container .contact-section-main form .contact-section-detail-main-fl .contact-submit-button button {
  margin: 0;
  width: 296px;
  height: 50px;
  background-color: #EF404A;
  color: #FFF;
  border-radius: 4px;
  border: 2px solid #EF404A;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.section .contact-section-container .contact-section-main form .contact-section-detail-main-fl .contact-submit-button button:hover {
  transition: 0.5s ease-in-out;
  background-color: #FFF;
  color: #EF404A;
}
@media (max-width: 700px) {
  .section .contact-section-container .contact-section-main form .contact-section-detail-main-fl .contact-submit-button button {
    width: 100%;
  }
}/*# sourceMappingURL=contactus.css.map */