* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}


/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FFF;
}

/* Handle */
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #EF404A;
  border-radius: 10px 0 0 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff000d;
}

::-moz-selection {
  color: #EF404A;
  background: #FFF;
}

::selection {
  color: #EF404A;
  background: #FFF;
}